.hero-section {
  position: relative;
  width: 100% !important;
}

.title-img-wrapp {
  display: flex;
  background-color: #e6e6e6;
  padding: 6rem 0rem 0rem 2rem;
}

.hero-overlay {
  display: flex;
  position: absolute;
  top: 10rem;
  flex-direction: column;
  z-index: 1;
}
.wrap-highlight-text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.sets-apart-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
}

.jobs-open-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-direction: column;
}

.dont-hustle-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-direction: row;
}

.sets-aprt-head {
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  font-size: 54px;

  justify-content: center;
}

.jobs-open-head {
  font-weight: 600;
  font-size: 54px;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  display: flex;

  margin-top: 0rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.dont-hustle-head {
  font-weight: 600;
  width: 40%;
  font-size: 54px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.sets-aprt-content {
  display: flex;
  flex-direction: column;
  width: 51%;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
}
.point-apart {
  text-align: left !important;

  font-size: 18px;
}

.point-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.point-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.4rem;
  font-size: 25px;
  font-weight: 600;
}

.point-content-career {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hero-text {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-align: center;
  width: 100%;
  font-weight: 300;
  line-height: 5rem;
}

.highlight-text-hero {
  color: rgb(0, 0, 0);

  font-size: 5rem;
  text-align: center;
  width: 50%;
  background-color: #ccff00;
  font-weight: 300;
}

.hero-img {
  width: 100%;
  height: auto;
}

/* Careers.css */

.wrap-job-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.job-card {
  width: 78%;
  background-color: #f9f9f9;
  border-radius: 0px;
  padding-left: 4rem;
  padding-top: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.job-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 100%;
  background-color: #ccff00;
  border-radius: 0px;
}

.job-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.job-requirements {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: left !important;
}

.btn-apply {
  display: flex;
  flex-direction: row-reverse;
}

.apply-button {
  margin-top: -4.2rem;
  margin-right: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: #ccff00;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #ced657;
}

.bottom-image img {
  width: 25rem;
}

.img-text-head {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.img-text-head img {
  width: 4rem;
  height: 4rem;
  margin-top: 3rem;
}
.careers-head {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 4rem;
}

.careers-head p {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}
.careers-head h1 {
  font-size: 60px;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .bottom-image img {
    width: 12rem;
  }

  .title-img-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .careers-head {
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-left: 0;
  }
  .hero-section {
    margin-top: 2rem;
    margin-bottom: -0.2rem;
  }

  .careers-head p {
    font-size: 1.1rem;
    text-align: center;
  }
  .careers-head h1 {
    text-align: center;
    font-size: 2.1rem;
  }

  .job-title {
    font-size: 1.25rem;
    text-align: left;
  }
  .sets-aprt-head {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  .img-text-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }
  .point-apart {
    text-align: center !important;
    margin-top: 0.1rem;
    font-weight: 400;
  }
  .sets-aprt-head {
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  .jobs-open-head {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .job-card {
    width: 90%;
    height: 10rem;
    padding-left: 1rem;
  }

  .dont-hustle-head {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    width: 81%;
    text-align: center;
  }
  .dont-hustle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .jobs-open-wrapper {
    margin-bottom: 0rem;
  }
  .dont-hustle-wrapper {
    margin-bottom: 2rem;
  }
  .sets-apart-wrapper {
    margin-bottom: 3rem;
  }

  .wrap-job-cards {
    gap: 1rem;
  }
  .apply-button {
    margin-top: 0rem;
    padding: 6px 20px;
  }
  .btn-apply {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .job-title {
    text-align: center;
    font-weight: 600;
  }
  .job-requirements {
    text-align: center !important;
  }
  .sets-aprt-content {
    width: 71%;
    gap: 1rem;
  }
  .point-heading {
    text-align: center;
    font-weight: 600;
  }
  .point-wrapper {
    align-items: center;
  }
  .point-heading {
    margin-bottom: 0rem;
  }
  .point-wrapper {
    margin-top: 1rem;
  }
  .img-text-head img {
    margin-top: 1.5rem;
  }
}
