:root{
    --bgPrimary: #121212;
    --bgSecondary: #CCFF00;
    --bgTertiary: rgb(178, 178, 178);
    --fontPrimary: rgb(195, 195, 195);
    --fontSecondary: ;
    --fontTertiary: ;
  }
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
.container{
    width: 100vw;
    min-height: 100vh;
    height:auto;
}
.navigation{
 padding: 1rem 3rem;
 padding-right: 3.5rem;
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 z-index: 100;
 top: 0;
 background: white;
 box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.navigation img{
    height: 3rem;
    object-fit: contain;
}
.navigation .navbar{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
}
.navbar a{
    padding: 0.5rem 1rem;
    color: var(--bgPrimary);
    font-weight: 400;
    border-bottom: 3px solid transparent;
    transition: all 250ms ease-in;
}
.navbar a:hover{
    font-weight: 400;
    background: var(--bgSecondary);
    border-bottom: 3px solid var(--bgPrimary);
}
.header{
    height: 90vh;
    position: relative;
    margin-top: 6rem;
}
.header .taglines{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5rem;
    gap: 1rem;
}
.taglines h6{
    font-size: 1.5rem;
    color: var(--bgPrimary);
    font-weight: 400;
}
.taglines div h1{
    font-weight: 800;
    font-size: 4.5rem;
    color: var(--bgPrimary);
}
.taglines h4{
    width:50%;
    font-size: 2rem;
    font-weight: 400;
}
.styleBlock{
    width: 3rem;
    height: 0.5rem;
    background: var(--bgPrimary);
    color: var(--bgPrimary);
}
.subheading{
    width: 100%;
}
.jumbo-img{
    float: right;
    width: 47%;
    height: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.jumbo-img img{
    width: 100%;
    height:95%;
    object-fit: contain;
}
.hero{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 6rem 0rem;
}
.hero-item{
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-item h3{
  font-weight: 600;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:5rem;
}
.main .main-heading{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.main-heading h1{
    font-size: 5rem;
    color: var(--bgPrimary);
    font-weight: 500;
}
/* .main-heading h1:nth-child(2){
    color: #CDCDCD;
} */
.explore-projects{
    width: 30%;
    height: 95%;
    padding: 3.5rem 3rem;
    border: 3px solid #CCFF00;
    border-radius: 1rem;
    position: relative;
}
.explore-projects h6{
    font-size: 1.25rem;
    font-weight: 500;
}
.benefits{
    margin:2rem 0rem;
    color: var(--bgPrimary);
}
.benefits li{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.explore-projects button{
    background: var(--bgPrimary);
    color: var(--bgSecondary);
    padding: 0.75rem 2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.25rem;
    
}
.search{
  position:absolute;
  z-index: 3;
  top:18rem;
  left:1rem;
  margin-top:5rem;
  width: 30rem;
  height:5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.search-bar{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-bar input{
  width:100%;
  height:100%;
  outline: none;
  padding: 0rem 1rem;
  font-size: 1rem;
}
.search-bar button{
  background: var(--bgPrimary);
  color: white;
  height: 100%;
  padding:0rem 2rem;
  font-size: 1.5rem;
  overflow: hidden;
}
.property-consul h4{
    color: var(--bgPrimary);
    font-weight: 700;  
    font-size: 1.3rem;  
}
.main .gallery{
    width: 75%;
    height: 100%;
    padding: 0rem 2rem;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 95%;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position:center;
    background-size:auto;
    background-repeat: none;
    transition: flex 0.8s ease;
    border-radius: 1rem;
    position: relative;
    &:hover{
      flex: 2;
    }
  }

  .item-1 { 
    background-image: url('./assets/Services1.png');
  }
  
  .item-2 { 
    background-image: url('./assets/Services2.png');
  }
  
  .item-3 { 
    background-image: url('./assets/Services3.png');
  }
  .item-4 { 
    background-image: url('./assets/Services4.png');
  }
  .item div:first-child{
    width: auto;
    position: absolute;
    top:15rem;
    background: var(--bgSecondary);
    padding: 0.5rem 1rem;
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
  }
  .item-1 div{
    left: -9.75rem;
  }
  .item-2 div{
    left: -9.75rem;
  }
  .item-4 div{
    left: -9.75rem;
  }
  .item-3 div{
    left: -9.75rem;
  }
  .item div h5{
    text-align: center;
    font-size: 1.25rem;
    color: var(--bgPrimary);
    font-weight: 600;
    padding: 0rem 1rem;
    width: 20rem;
  }
  .item:hover div{
    display:none;
  }
  .item:hover .item > .explore-projects{
    display: block;
  }
  .explore{
    display: none;
    padding: 3rem;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 3px solid var(--bgTertiary);
    overflow: hidden;
  }
  .explore h2{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }
  .item:hover .explore{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
  .item:hover .explore h5{
    text-align: left;
  }
  .explore ul li{
    margin-bottom: 0.5rem;
  }
  .explore button{
    background: var(--bgPrimary);
    color:white;
    padding: 1rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
  }
.graphs{
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
}
.graphSlide{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0rem;
}
.graphSlide img{
  width: 40%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius:1.75rem;
}
.shape-eclipse{
  position: absolute;
  z-index: -2;
  left:0;
  height: 80%;
}
.shape-eclipse img{
  height:85vh;
}
.splide__track{
  width: 90vw;
}
.graphSlide h1{
  font-weight: 500;
  font-size: 1rem;
}
.graphSummary{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:1rem;
  padding: 5rem;
}
.graphSummary h6{
  font-size: 1.25rem;
  font-weight: 500;
}
.graphSlide p{
  color: var(--bgPrimary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.refer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.refer-text-content{
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 5rem;
  padding-right: 0rem;
}
.refer-text-content h1{
  font-size: 4rem;
  color: var(--bgPrimary);
  font-weight: 600;
}
.refer-heading{
  width: 80%;
  margin-top:2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.refer-heading p{
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--bgPrimary);
}
.refer-heading p span{
  background: var(--bgSecondary);
  color: var(--bgPrimary);
}
.refer-text-content span{
  color: var(--fontPrimary);
}

.refer-img-content{
  width: 40%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.refer-img-content img{
  width: 80%;
  height: 70%;
  object-fit: contain;
}
.com-refer-heading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.com-refer-heading > p > span{
  font-weight: 700;
  
}
.testimonials{
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.testimonials-heading{
  width: 30%;
}
.testimonials-heading h1{
  font-size: 4rem;
  color: var(--bgPrimary);
  font-weight: 600;
  margin-bottom: 1rem;
}
.testimonials-slides{
  width: auto;
  height: auto;
}
.team{
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.team-image{
  width: 50%;
  height: 25rem;
  
}
.team-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.team-content{
  padding: 0rem 2rem;
}
.team-content h1{
  font-size: 4rem;
  font-weight: 600;
  color: var(--bgPrimary);
}
.team-content h1:nth-child(2){
  /* color: var(--bgTertiary); */
  margin-bottom: 2rem;
}
.team-content-subheading p{
  font-size: 1.25rem;
  color: var(--bgPrimary);
  font-weight: 500;
}
.team-content button{
  margin-top: 2rem;
  background-color: var(--bgSecondary);
  color: var(--bgPrimary);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 5rem;
}
.blog img{
  width: 90%;
  height: 100%;
  object-fit: contain;
}
.footer{
  background: var(--bgPrimary);
  width: 100%;
  height: auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  padding-right: 6rem;
}
.footer > h6{
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
}
.footer .links{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3;
}
.footer .links img{
  width: 12rem;
  height: auto;
  object-fit: contain;
}
.footer .links h6{
  font-weight: 400;
  font-size: 0.85rem;
}
.ext-links{
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.ext-links a{
  color: white; 
}
.ext-links span{
  width: 0.1rem;
  height:70%;
  background: white;
  color: white;
}
.rera-style{
  border-left: 2px solid white;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.social-media{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.social-media a{
  color: white;
}
.social-media i{
  font-size: 1.25rem;
}
.tes-slider{
  width: 58.5%;
}
.tes-item-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-left: 10px solid var(--bgSecondary);
}
.tes-item-wrapper > img{
  width:20vw;
  height: 50vh;
  object-fit: contain;
}
.tes-text-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25vw;
}
.tes-text-content h1{
  font-size: 4rem;
  color: var(--bgSecondary);
  font-weight: 600;
}
.tes-text-content p{
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.tes-text-content h2{
  margin-top: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
}
.tes-text-content img{
  margin-bottom: 1rem;
}
.quote{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 9rem;
  overflow: hidden;
  margin-bottom: 3rem;
}
.quote img{
  width: 60%;
}
.quote h1{
  font-size: 10rem;
  color: var(--fontPrimary);
  font-weight: 500;
}

.quote h2{
  font-size: 1.75rem;
  font-weight: 600;
  position:relative;
  top:2.5rem
}
.nf-wrapper{
  width: 100vw;
  height: 100vh;
  padding-left: 6rem;
}
.not-found{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center
}
.nf-title .heading > h2{
  font-size: 2rem;
  font-weight: 400;
  color: var(--bgPrimary);
}
.nf-title .heading > h1{
  font-size: 5rem;
  color: var(--bgPrimary);
  font-weight: 700;
}
.nf-title .subheading{
  margin-top: 1rem;
}
.nf-title .subheading h4{
  font-size: 1.5rem;
  font-weight: 400;
}
.notify{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.notify input{
  width: 23rem;
  height: 4rem;
  color: var(--bgPrimary);
  font-size: 1rem;
  padding: 1rem;
  border-bottom: 2px solid var(--fontPrimary);
}
.notify input::placeholder{
  font-size: 1.2rem;
  color: var(--bgTertiary);
}
.notify button{
  color: var(--bgPrimary);
  background: white;
  padding:1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px rgba(119, 119, 119, 0.25);
}
.vector{
  position: absolute;
  z-index: -2;
  top:0;
  left: 45vw;
  height: 100%;
  width: 100%;
}
.vector img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.bornToFly{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.born-section{
  width: 100%;
  box-shadow: 5px 5px 10px 0px rgba(119, 119, 119, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.born-section .text-content{
  padding: 6rem;
}
.born-section .text-content h1{
  font-size: 4rem;
  font-weight: 500;
}
.born-section .text-content h1 span{
  color: var(--bgTertiary)
}
.born-content p{
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 500;
}
.born-img{
  width: 40%;
  height: 70vh;
}
.born-img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.born-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.born-section .text-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}
@media screen and (max-width: 1000px) {
  .navigation{
    padding: 1rem;
  }
  .navigation .navbar{
    display: none;
  }
  .header{
    height: auto;
  }
  .header .taglines{
    width: 100%;
    padding-left: 4rem;
    padding-top:2rem;
    justify-content: flex-start;
  }
  .taglines h6{
    font-size: 1.25rem;
  }
  .taglines div h1{
    font-size: 2.5rem;
    font-weight: 600
  }
  .taglines h4{
    font-size: 1.5rem;
  }
  .hero{
    padding-top: 4rem;
  }
  .main .main-heading{
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
  .main-heading h1{
    font-size: 3rem;
  }
  .explore-projects{
    width: 100%;
  }
  .search{
    top: 5rem;
    left: 0rem;
  }
  .main .gallery{
    width: 100%;
    padding:0rem;
  }
  .gallery-wrap{
    height: 60%;
  }
  .graphSlide{
    flex-wrap: wrap
  }
  .graphSlide img{
    width: 80%;
  }
  .refer{
    margin-top: 5rem;
    flex-wrap: wrap;
    height:auto;
  }
  .refer-text-content{
    width: 100%;
  }
  .refer-img-content{
    width: 80%;
  }
  .testimonials{
    padding: 5rem 0rem;
  }
  .testimonials-heading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .testimonials-heading h1{
    text-align: center;
    margin-bottom: 3rem;
  }
  .tes-slider{
    width: 100%;
  }
  .team{
    gap: 3rem;
  }
  .team-image{
    width: 100%;
  }
  .team-content h1{
    font-size: 3rem;
  }
  .blog{
    padding:3rem 0rem;
  }
  .tes-text-content{
    width: 50%;
  }
  .tes-item-wrapper > img{
    width: 50%;
    height: 34vh;
    object-fit: contain;
  }
  .born-section .text-content h1{
    font-size: 2.75rem;
  }
  .born-section .born-content p{
    font-size: 0.9rem;
  }
  .born-section .text-content{
    padding: 3rem;
  }
  .quote{
    height: 12.5rem;
    padding:0rem 0rem 0rem 3rem;
  }
  .quote h1{
    font-size: 8.5rem;
  }
  .quote img{
    width: 70%;
  }
  .social-media{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 440px) {
  .header{
    height: 100vh;
  }
  .header .taglines{
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    height: auto;
  }
  .taglines div h1{
    font-size: 2rem;
  }
  .taglines h4{
    width: 100%;
    font-size: 1.25rem;
  }
  .hero{
    padding-top: 0rem;
  }
  .jumbo-img{
    width: 109%;
    height: 63%;
  }
  .jumbo-img img{
    height: 100%;
  }
  .main{
    padding: 3rem;
  }
  .search{
    height: 4rem;
    width: 19rem;
  }
  .item{
    min-width: 100px;
  }
  .graphs{
    margin-top:27rem;
  }
  .shape-eclipse{
    height: 90%;
  }
  .shape-eclipse img {
    height: 55vh;
}
.refer{
  margin-top:0rem;
}
.refer-text-content{
  padding: 3rem;
  width: 100%;
}
.refer-text-content h1{
  font-size: 3rem;
}
.refer-heading{
  width: 100%;
}
.testimonials-heading{
  width: 100%;
}
.testimonials-heading h1{
  font-size: 3rem;
}
.team{
  padding: 0rem 3rem 3rem 3rem;
}
.team-image{
  width: 100%;
  height:auto;
}
.team-content{
  padding: 0;
}
.footer{
  padding: 3rem;
}
.footer .links{
  gap: 1.5rem;
  justify-content: center;
}
.footer h6{
  text-align: center;
}
.tes-text-content{
  width: 100%;
  padding: 2rem 1rem 2rem 2rem;
}
.tes-text-content p{
  font-size: 1rem;
}
.tes-item-wrapper > img{
  width: 100%;
}
.nf-wrapper{
  padding-left: 0rem;
}
.nf-title .heading h2{
  font-size: 1.5rem;
}
.nf-title .heading h1{
  font-size: 3.5rem;
}
.nf-title .subheading h4{
  font-size: 1rem;
}
.notify{
  padding: 0rem 2rem;
}
.notify input{
  width: 60%;
  font-size: 1rem;
}
.notify input::placeholder{
  font-size: 0.9rem;
  outline: none;
}
.not-found{
  padding-left: 3rem;
}
.notify button{
  width: 40%;
  font-size: 1rem;
}
.quote{
  height: 9.75rem;
  padding:0rem 0rem 0rem 3rem;
}
.quote h1{
  margin-top: 1.5rem;
  font-size: 4rem;
}
.born-section .born-img{
  display: none;
}
.born-section .text-content{
  width: 100%;
}
.quote img{
  width: 90%;
}

}